@model Geoprofs.Models.AbsenceRequest

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AbsenceRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="absenceId" />
            <div class="form-group">
                <label asp-for="Coworker" class="control-label"></label>
                <input asp-for="Coworker" class="form-control" />
                <span asp-validation-for="Coworker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AbsenceStart" class="control-label"></label>
                <input asp-for="AbsenceStart" class="form-control" />
                <span asp-validation-for="AbsenceStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AbsenceEnd" class="control-label"></label>
                <input asp-for="AbsenceEnd" class="form-control" />
                <span asp-validation-for="AbsenceEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="absenceType" class="control-label"></label>
                <input asp-for="absenceType" class="form-control" />
                <span asp-validation-for="absenceType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="absenceStatus" class="control-label"></label>
                <input asp-for="absenceStatus" class="form-control" />
                <span asp-validation-for="absenceStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
