@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Login</h1>

    <h5><input type="text" placeholder="Usename"/></h5>
    <h5><input type="password" placeholder="Password"/></h5>
    <h5><button type="button">Login</button></h5>

</div>
