@model Geoprofs.Models.Login
@{
	ViewData["Title"] = "Home Page";
}

<div>
	@using (Html.BeginForm("Verify", "login"))
	{	<!--Login form-->
		<div class="login">
			<div class=" col column left"></div>
			<div class="col column right">
				<div class="form-container">
					<h1 class="text-center">Login</h1>  <!--login pagina-->
				<input type="text" name="Username" id="Username" placeholder="Username" />
					<input type="password" id="Password" name="Password" placeholder="Password" />
					<p>Geen account? registreer <a class="link" asp-area="" asp-controller="Home" asp-action="Register">hier.</a></p>
					<button type="submit" class="button">Login</button>
				</div>
			</div>
		</div>
	}

</div>
